.sound-wave {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 20px;
}

.sound-wave span {
  width: 2px;
  height: 100%;
  background-color: #a855f7;
  border-radius: 1px;
  animation: wave 0.6s ease-in-out infinite;
}

.sound-wave span:nth-child(1) {
  animation-delay: 0s;
}

.sound-wave span:nth-child(2) {
  animation-delay: 0.1s;
}

.sound-wave span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes wave {
  0%,
  100% {
    height: 100%;
    opacity: 0.5;
  }
  50% {
    height: 150%;
    opacity: 1;
  }
}
